<form id='togodo'  ACTION='modules/funy/index.php?op=list' METHOD=POST>
  <table>
    <tr>
      <{if $funy_block_2__left <> ""}>
      <td>
        <{$funy_block_2__left}>      
      </td>
      <{/if}>
      
      <{if $funy_block_2__center <> ""}>      
      <td>
        <{$funy_block_2__center}>      
      </td>
      <{/if}> 
           
      <{if $funy_block_2__right <> ""}>      
      <td>
        <{$funy_block_2__right}>     
      </td>
      <{/if}>      
      
    </tr>
  </table>

</form>
